
Title:
<p>
<b><%= @haiku.title %></b>
</p>

<p>
  Content: 
  <br>
  <%@haiku.content.each do |line|%>
    <p> 
    <b><%=line%></b>
    </p>
<%end%>
  </p>

Themes:
  <%= @haiku.themes.each do |f|%>
    <br>
    <%= f.name%>
    <%end %>
 